@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Work+Sans:ital,wght@0,500;1,400&display=swap");

:root {
  /* -------------------Colors ------------------- */
  --primary-50: #e7e7ed;
  --primary-100: #b6b3c6;
  --primary-200: #928fab;
  --primary-300: #605c84;
  --primary-400: #413c6d;
  --primary-500: #120b48; /*primary-main */
  --primary-600: #100a42;
  --primary-700: #0d0833;
  --primary-800: #0a0628;
  --primary-900: #08051e;

  --container-color: #ffffff;

  /*--------------- Fonts and Typography --------------*/
  /* ----------Font Family--------------- */
  --header-font: "Sora", "sans-serif";
  --body-font: "Work Sans", sans-serif;

  /* ---------------Font Size ---------- */
  /* header */
  --h1-header-font-size: 90px;
  --h2-header-font-size: 64px;
  --h3-header-font-size: 45px;
  --h4-header-font-size: 32px;
  --h5-header-font-size: 24px;
  --h6-header-font-size: 16px;

  /* subheading */
  --sh1-font-size: 24px;
  --sh2-font-size: 16px;
  --sh3-font-size: 12px;

  /* Body */
  --b1-font-size: 18px;
  --b2-font-size: 16px;
  --b3-font-size: 12px;

  /* buttons */
  --bb1-font-size: 18px;
  --bb2-font-size: 16px;
  --bb3-font-size: 14px;
  --bb4-font-size: 12px;

  /* subtitle */
  --s1-font-size: 16px;
  --s2-font-size: 12px;
  --s3-font-size: 10px;

  /* ----------Font weight----------- */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ---------Padding and margin-------- */
  --small-padding: 12px;
  --normal-padding: 16px;
  --big-padding: 24px;

  --normal-margin: 24px;
  --big-margin: 32px;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
/* .section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--text-color);
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
} */

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--primary-500);
  color: #ffffff;
  text-align: center;
}

.button--small {
  padding: 10px 18px;
  border-radius: 8px;
}

.button--large {
  border-radius: 12px;
  padding: var(--normal-padding);
  width: 252px;
  height: 51px;
  font-size: var(--bb2-font-size);
  font-weight: var(--font-medium);
  font-family: var(--body-font);
}

.button:hover {
  background-color: var(--primary-300);
}

.button-hollow {
  border-radius: 6px;
  border: 1px solid var(--primary-800);
  display: inline-block;
  padding: 12px 16px;
  height: 48px;
  width: 133px;
  text-align: center;
}

/* App styles */
.app__container {
  width: 100%;
}
/* ------------Popup styles------------------ */
.container {
  width: 300px;
  min-height: 439px;
  padding: var(--big-padding);
  border-radius: 24px;
}

.home__head--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home__head--header .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home__head--header span {
  font-family: var(--header-font);
  font-weight: var(--font-bold);
  font-size: var(--h6-header-font-size);
  color: var(--primary-500);
  margin-left: 10px;
}

.home__head--header .settings {
  display: flex;
  justify-content: space-between;
}

.home__head--header .settings-icon {
  margin-right: 12px;
}

.home__head--header .settings .close:hover {
  cursor: pointer;
}
.home__head--description p{
  font-family: var(--body-font);
  font-size: var(--b3-font-size);
  font-weight: var(--font-regular);
  color: var(--primary-400);
  margin: 24px 0 32px 0;
}

/* .home__body *{
  border: 2px solid;
} */
.home__body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 275px;
}

.home__body--icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.home__body--icons img {
  height: 32px;
  width: 32px;
}
.home__body--icons span {
  font-family: var(--body-font);
  margin-top: 5px;
}

.home__body--icons .full_screen span {
  font-size: var(--b3-font-size);
  font-weight: var(--font-regular);
  color: var(--primary-200);
}

.home__body--icons .current span {
  font-size: 14px;
  font-weight: var(--font-semi-bold);
  color: var(--primary-500);
}
.home__body--icons .current,
.home__body--icons .full_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__body .camera,
.home__body .audio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--small-padding);
  height: 48px;
  border-radius: 12px;
  border: 1px solid var(--primary-600);
}

.home__body .audio {
  margin: var(--normal-margin) 0;
}

.home__body .camera .camera--icon,
.home__body .audio .audio--icon {
  display: flex;
  align-items: center;
}

.home__body .camera .camera--icon span,
.home__body .audio .audio--icon span {
  font-size: var(--b3-font-size);
  font-weight: var(--font-regular);
  color: var(--primary-600);
  margin-left: 10px;
}

.toggle-slider {
  position: relative;
  width: 36px;
  height: 20px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .slider {
  background-color: var(--primary-500);
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(16px);
}
